<!-- SIDEBAR -->
<nav class="col-md-3 col-lg-2 d-md-block bg-primary sidebar p-0" id="sidebar">
    <div class="text-center mt-4 mb-3">
        <img src="assets/common/images/logo-isil.svg" alt="isilgo" class="img-fluid">
    </div>
    <div class="position-sticky">
        <div class="text-center px-4 mx-5">
            <img src="assets/common/images/generic_user.jpg" alt="img"
                class="img-fluid rounded-circle img-thumbnail mb-3" id="imagenDeUsuario">
            <h5 class="text-white mb-1" id="labelNombresCompletos">Cargando...</h5>
            <p class="text-dark-blue fw-bold" id="labelCargo">Cargando...</p>
        </div>
        <ul class="nav flex-column isilMenu">
            <li>
                <a href="dashboard.html">
                    <i class="fa-solid fa-house"></i>Inicio
                </a>
            </li>
            <li>
                <a href="listado-de-comisiones.html">
                    <i class="fa-solid fa-money-bill-wave"></i>Comisiones
                </a>
            </li>
            <li>
                <a href="listado-de-cursos.html">
                    <i class="fa-solid fa-book"></i> Cursos
                </a>
            </li>
            <li>
                <a href="#" id="btnLogout">
                    <i class="fa-solid fa-arrow-right-from-bracket"></i>Salir
                </a>
            </li>
        </ul>
    </div>

    <button id="closeSidebar" class="d-md-none fs-3 position-absolute top-0 end-0 btn text-white">
        <i class="fa-solid fa-xmark"></i>
    </button>
</nav>
<!-- TOP MENU ON MOBILE -->
<div class="menuTopBar text-center py-3">
    <img src="assets/common/images/logo-isil.svg" alt="isilgo" class="h-100">
    <button id="sidebarCollapse" class="btn btn-light position-absolute top-0 end-0 mt-2 me-2">
        <i class="fa-solid fa-bars text-secondary"></i>
    </button>
</div>
<!-- TOP MENU ON MOBILE -->
<!-- SIDEBAR -->