<!-- SIDEBAR -->
<nav id="sidebar" class="col-md-3 col-lg-2 d-md-block bg-primary sidebar p-0">
    <div class="text-center mt-4 mb-5 pb-4">
        <img src="assets/common/images/logo-isil.svg" alt="isilgo" class="img-fluid">
    </div>
    <div class="position-sticky">
        <div style="display: none;">
            <h5 class="text-white mb-1" id="labelNombresCompletos">Cargando...</h5>
            <p class="text-dark-blue fw-bold" id="labelCargo">Cargando...</p>
        </div>
        <ul class="nav flex-column isilMenu">
            <li>
                <a href="admin-docentes.html">
                    <i class="fa-solid fa-user"></i>Docentes
                </a>
            </li>
            <li>
                <a href="admin-tasas-masivas.html">
                    <i class="fa-solid fa-box"></i>Tasas de comisiones masivas
                </a>
            </li>
            <li>
                <a href="#" id="btnLogout">
                    <i class="fa-solid fa-arrow-right-from-bracket"></i>Salir
                </a>
            </li>
        </ul>
    </div>

    <button id="closeSidebar" class="d-md-none fs-3 position-absolute top-0 end-0 btn text-white">
        <i class="fa-solid fa-xmark"></i>
    </button>
</nav>
<!-- TOP MENU ON MOBILE -->
<div class="menuTopBar text-center py-3">
    <img src="assets/common/images/logo-isil.svg" alt="isilgo" class="h-100">
    <button id="sidebarCollapse" class="btn btn-light position-absolute top-0 end-0 mt-2 me-2">
        <i class="fa-solid fa-bars text-secondary"></i>
    </button>
</div>
<!-- TOP MENU ON MOBILE -->
<!-- SIDEBAR -->